.DS_Store
opentelemetry-collector/
agents/process-exporter/
agents/node_exporter/
agents/deepflow/
agents/vector/
openobserve/
observe-bridge/bin/
llm-ops-agent/bin/
ansible/vars/*.host.yml
ansible/vars/*.vault.yml
